body {
    margin: 0px;
    padding: 0;
}
img {
    width: 100%;
    height: 100%;
}
.container {
    width: 1150px;
    margin: 0 auto;
    max-width: 100%;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    position: relative;
}
.rating {
    position: absolute;
    left: 40%;
}
.rating p {
    font-size: 13px; 
    font-weight: 500; 
    line-height: 15px; 
    text-align: center;  
    font-family: "Inter", sans-serif; 
    color: rgba(23, 88, 142, 1); 
    margin: 0;
}
.number {
    text-align: right;
    margin-top: 18px;
    position: absolute;
    right: 130px;
}
.number h3 {
    font-weight: 600;
    font-style: italic;
    color: rgba(0, 120, 173, 1);
    font-size: 28px;
    line-height: 33px;
    font-family: "Inter", sans-serif;  
    text-align: right;
    -webkit-text-fill-color: rgb(0 120 173 / 67%);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0 120 173);
    margin: 0 0  -6px 0;
}
.number p{
    font-weight: 500;
    color: rgba(148, 148, 148, 1);
    font-size: 11px;
    line-height: 13px;
    font-family: "Inter", sans-serif;
    margin: 0;
}
.number img {
    margin-bottom: -17px;
    width: auto;
    height: auto; 
    display: block;
    margin-left: 46px;
}  
/*toggle*/
.navbar {
         justify-content: end;
        }
.navbar-toggle {
     display: none;
     flex-direction: column;
     cursor: pointer;
        }

.navbar-toggle span {
    width: 25px;
    height: 3px;
    background-color: #fff; 
    margin-bottom: 2.5px;
    margin-top: 2.5px;  
}
 
.navbar-toggle .fas {
    display: none; /* Hide cross icon by default */
    color: rgba(51, 153, 255, 1);
    font-size: 24px;
    margin-right: 10px;
 }

.navbar-menu {
   list-style-type: none;
     display: flex;
    justify-content: center;
 }
.navbar-menu a {
 color: #fff;
 text-decoration: none;
     }
i.fas.fa-times {
    display: none;
}
i.fas.fa-times {
    color: #fff;
    font-size: 32px;
    margin-top: 30px;
    background: #3399ff;
    padding: 4px 8.5px;
}
/*close-toggle*/
li.star a {
    padding-left: 4px;
}
.navigation {background: linear-gradient(180deg, #69C1F6 0%, #5B91E7 100%);
      margin-top: -20px;
}
.navigation li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    padding: 15px 19px;
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    line-height: 18px;
    font-family: "Inter", sans-serif;
    text-align: left;
} 
.navigation li a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    outline: none;
}
.navigation ul {
    text-align: center;
    padding-left: 0;
}
li.active {
    background: linear-gradient(180deg, #FDEAB5 0%, #FFDF88 52%, #FDE7AC 100%);
    color: rgba(97, 158, 215, 1);
}
li.active a {
    background: linear-gradient(180deg, #FDEAB5 0%, #FFDF88 52%, #FDE7AC 100%);
    text-decoration: none;
    color: rgba(97, 158, 215, 1);
}
li img {
    width: 18px;
    height: auto;
}

/*home*/ 

.main-page-section.home {
    padding: 50px 50px 150px 50px !important;
    background: url('../images/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -15px;
}

.main-banner {
    display: flex;
    gap: 40px;
    margin-top: 50px;
}
.banner-section h2 {
    font-size: 30px;
    font-weight: 800;
    line-height: 45px;
    color: #fff;
    font-family: "Inter", sans-serif;
    text-align: center;
}
.banner-section h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: rgba(23, 88, 142, 1);
    font-family: "Inter", sans-serif;
}
.banner-content li {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
    list-style: none;
    position: relative;
    color: #fff;
}
.banner-content ul li img {
    position: absolute;
    left: -41px;
    top: 3px;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
}
.banner-content {
    position: relative;
}
.price-corse {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 60px 20px 0px 20px;
}
.Course {
   background: rgb(204 204 204 / 23%);
    padding: 40px;
    border-radius: 10px;
    width: 500px;
}
.Course a {
    font-size: 18px !important;
}
.Course p {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    margin: 0px;
    text-align: center;
    color: #000;
}
.Course h4 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 19px; 
    letter-spacing: 0em;
    margin: 40px 0;
    text-align: center;
     color: #000;
}
.Course .sign-up {
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.home-bottom {
    display: flex;
    gap: 2px;
    justify-content: center;
    margin: 10px 20px 0px 20px;
}
.bottom {
    background: rgb(204 204 204 / 23%);
    padding: 40px;
    border-radius: 10px;
    width: 334px;
}
.home-bottom h4 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    margin-bottom: 30px;
    text-align: center;
    color: #000;
    margin: 0;
}
.bottom P {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    margin-bottom: 0px;
    text-align: center;
   color: #000;
}
.bottom img {
   /* filter: brightness(0) invert(1);*/
    width: 80px;
    height: auto;
}
.imgs-home {
    text-align: center;
    margin-bottom: 20px;
}
.bottom:hover {
    background: rgba(20, 99, 156, 1);
    /*background: linear-gradient(180deg, #69C1F6 0%, #5B91E7 100%);*/
}
.bottom:hover h4{
    color: #fff;
}
.bottom:hover p{
    color: #fff;
} 
.bottom:hover img {
    filter: brightness(0) invert(1);
}
/*.bottom h4 {
    display: flex;
    align-items: center;
    gap: 15px;
}*/
.banner-last-section {
    /* background: #389dd7; */
    background: rgba(20, 99, 156, 1); 
    padding: 10px; 
    margin-top: 50px; 
} 
p.con {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    font-family: "Inter", sans-serif;
    text-align: left;
}
/*close*/

/*new-home-page*/
.main-page-section {
    padding: 0 20px;
}
.main-banner-section {
    display: flex;
    /* justify-content: space-between; */
    gap: 191px;
}
.home-banner-right-section {
    position: relative;
}
.banner-images-section {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    left: -200px;
    top: 380px;
}
h2.banner-heading {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(208, 0, 0, 1);
    margin:0;
}
p.sub-text {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(23, 88, 142, 1);
    margin:0;
    margin-top: 8px;
}
h2.insurance-heading {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(23, 88, 142, 1);
}
h3.insu-sub-heading {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(23, 88, 142, 1);
}
h3.headings-content {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(23, 88, 142, 1);
}
.certificate-section {
    display: flex;
     gap: 20px; 
    justify-content: space-evenly;
        padding: 0 20px;
}
.certificate-details h3 {
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(23, 88, 142, 1);
    margin: 0;
}
.certificate-details p {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(85, 85, 85, 1);
    margin: 0;
}

.certificate-details {
    position: relative;
}
img.checkmark {
    width: auto;
    height: auto;
    position: absolute;
    left: -21px;
    top: -4px;
}
.certificate-details.book-format {
    margin-right: 30px;
}
img.videoicon {
    position: absolute;
    top: 46%;
    width: 44px;
    height: auto;
    left: 45%;
}
.img {
    position: relative;
}
img.videoimg {
    width: 357px;
    height: auto;
}
.certificate-section.second {
    margin-top: 30px;
}
/*.banner-images-section {
    display: flex;
    gap: 10px;
    align-items: center;
}*/
.banner-images-section p {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 0, 0, 1);
    text-shadow: 0 0 3px rgba(164, 0, 8, 1);
}
.banner-images-section p {
    display: inline-flex;
}
.signup-btn.watch-video.start span {
    font-family: Inter;
    font-size: 13px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0.12em;
    padding-left: 52px;
    position: absolute;
    top: 47px;
}
.signup-btn.watch-video.start a {
    border: 1px solid rgba(162, 0, 1, 1);
    position: relative;
    margin-top: 35px;
    margin-left: 25px;
}
p.horizontal-text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    background: rgba(255, 219, 117, 1);
    padding: 10px;
    color: rgba(51, 51, 51, 1);
    margin-top: -5px;
}  
.get-started {
    display: flex;
    gap:30px;
}
.started-content {
    width: 50%;
    border: 1px solid rgba(85, 85, 85, 1);
    padding: 30px 30px 30px 20px;
}
.started-content h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(208, 0, 0, 1);
    margin: 0;
}
.started-content p {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(85, 85, 85, 1);
}
.signup-btn a {
    font-family: Inter;
    font-size: 22px;
    font-weight: 800;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    background: linear-gradient(180deg, #69C1F6 0%, #5B91E7 100%);
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    padding: 15px;
    border: 1px solid rgba(23, 67, 147, 1);
    display: flex;
    width: 180px;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-top: 50px;
   text-shadow: 0 0 3px rgba(23, 88, 142, 1);
}
.signup-btn.watch-video a {
    background: linear-gradient(180deg, #FFB2B4 10.34%, #D90000 55.17%, #FE6368 81.03%);
    width: 220px;
        margin-top: 40px;
}
.signup-btn img {
    width: auto;
}
.customer-testimonial {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.testimonials-content h3 {
    font-family: Inter;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(23, 67, 147, 1);
    padding-left: 20px;
}
.text-des {
    position: relative;
}
p.testimonials-title {
    font-family: Comic Sans MS;
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(23, 67, 147, 1);
    position: absolute;
    bottom: 0;
    right: 10px;
}
.testimonials-content {
    display: flex;
    justify-content: space-between;
}
.testimonials-img img {
    width: 181px;
}
.main-content {
    border: 1px solid rgba(85, 85, 85, 1);
    margin-top: 30px;
     width: 34%;
}
.main-content h2 {
    text-align: center;
    background: linear-gradient(180deg, #00629B 0%, #0079C7 50.5%, #0064A4 100%);
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    padding: 15px;
    margin: 0;
}
.botom-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}
.allcontent h2 {
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(23, 67, 147, 1);
}
h3.all-head {
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(51, 51, 51, 1);
    text-transform: uppercase;
    margin: 0;
}
p.allcon {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(51, 51, 51, 1);
    margin: 0 0 20px 0;
}
.allcontent.right {
    border: 1px solid rgba(85, 85, 85, 1);
    width: 320px;
        padding-bottom: 15px;

}
.allcontent.right h2 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(23, 88, 142, 1);
    border-bottom: 1px solid rgba(85, 85, 85, 1);
        margin: 0;
    padding: 10px;
}
.allcontent.right h3 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(51, 51, 51, 1);
    padding-left: 45px;
    padding-right: 25px;
    position: relative;
    margin: 0;
    margin-top: 15px;
}
.allcontent.right p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(51, 51, 51, 1);
    padding-left: 45px;
    padding-right: 18px;
    margin: 5px 0 20px 0;
}
.allcontent.right span {
    position: absolute;
    font-size: 42px;
    left: 25px;
    top: -12px;
}
.morefaqs {
    text-align: right;
    padding-right: 25px;
}
a.more-faq {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(23, 88, 142, 1);
    text-decoration: none;
}
p.des-last {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(51, 51, 51, 1);
     margin-bottom:  0; 
}
p.bottom-menu {
    text-align: center;
    margin: 0;
}
p.bottom-menu a {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: rgba(23, 67, 147, 1);
}
.home-page-last-section {
    margin-top: 50px;
}
/*close*/




/*course*/
h1.title {
    color: rgba(51, 153, 255, 1);
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    font-family: "Inter", sans-serif;
    border-bottom: 2px solid rgba(204, 204, 204, 1);
    padding-bottom: 30px;
    padding-top: 15px;
    text-transform: capitalize;
}
h3.login-title {
    color: rgba(23, 88, 142, 1);
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    font-family: "Inter", sans-serif;
}
span.moreinfo {
    color: rgba(23, 88, 142, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    font-family: "Inter", sans-serif;
    text-decoration: underline;
}
li.star {
    position: relative;
}
img.star {
    position: absolute;
    left: 18px;
}
li.star a {
    padding-left: 18px;
}
form.registration-form {
    margin-left: 85px;
}
form.registration-form label {
    font-size: 14px;
    color: rgba(51, 51, 51, 1);
    font-weight: 600;
    line-height: 19px;
    font-family: "Inter", sans-serif;
}
form.registration-form input {
    border: 1px solid rgba(221, 221, 221, 1);
    padding: 10px;
    margin-top: 10px;
    width: 218px;
    border-radius: 3px;
    margin-left: 8px;
}
form.registration-form input#mname {
    width: 59px;
    margin-left: 6px;
}
.form-input.email {
    padding-left: 35px;
}
.form-input.numbers {
    margin-left: -30px;
}
form.registration-form input#Phone {
    width: 45px;
}
form.registration-form input#Phone11 {
    width: 45px;
}
form.registration-form input#Phones {
    width: 60px;
}
.border-line:before {
    position: absolute;
    content: '';
    width: 1150px;
    max-width: 100%;
    height: 1px;
    left: 0;
    background: rgba(204, 204, 204, 1);;
    right: 0;
    margin: 0 auto;
}
.form-input.date {
    margin-left: -17px;
    padding-bottom: 35px;
    margin-top: 10px;
}
form.registration-form select {
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 3px;
}
select#date {
    width: 126px;
    height: 38px;
    margin-left: 8px;
}
select#month {
    width: 94px;
    height: 38px;   
}
select#years {
    width: 94px;
    height: 38px;
}
.form-input.license-state {
    margin-left: -75px;
    margin-top: 35px; 
}
.form-input.date.licensenumber {
    margin-left: -94px;
    margin-top: 10px;
}
select#license {
    height: 38px;
    width: 146px;
    margin-left: 8px;
}
input#licensenumber {
    width: 125px;
}
.form-input.date.licensenumber p {
    font-size: 13px;
    color: rgba(85, 85, 85, 1);
    line-height: 19px;
    margin-left: 193px;
    margin-top: 0;
    font-family: "Inter", sans-serif;
    margin-bottom: 0;
}
.form-input.date.licensenumber.user {
    margin-left: 0;
    margin-top: 35px;
    padding-bottom: 15px;
}
.form-input.date.licensenumber.user p {
    margin-left: 102px;
    width: 255px;
}
.form-input.date.licensenumber.user.password {
    margin-top: 0;
    padding-bottom: 15px;
    margin-left: 8px;
}
.form-input.date.licensenumber.user.password p {
    margin-left: 92px;
}
.form-input.date.licensenumber.user.password.confirm {
    margin-left: -49px;
}
.form-input.address {
    margin-top: 35px;
    margin-left: 22px;
}
.form-input.city {
    margin-left: 51px;
}
.form-input.states {
    margin-left: 43px;
    margin-top: 10px;
}
.form-input.zipcode {
    margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.form-input.zipcode input {
    width: 146px;
}
select#statse {
    width: 170px;
    height: 38px;
    margin-left: 8px;
}
select#find {
    width: 285px;
    height: 38px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 80px;
}
.form-input.find-us label {
    margin-left: -74px;
    position: absolute;
    text-align: right;
}
.form-input.find-us p {
    font-size: 13px;
    color: rgba(85, 85, 85, 1);
    line-height: 19px;
    margin-left: 80px;
    margin-top: 0;
    font-family: "Inter", sans-serif;
    margin-bottom: 0;
}
.form-input.find-us {
    margin-top: 35px;
    margin-left: 20px;
}
/* .form-input.captcha img {
    width: auto;
    height: auto;
    margin-top: 50px;
} */
.form-input.captcha {
    margin-top: 50px;
}
/* .btn input[type="button"] {
    font-weight: 600;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    line-height: 19px;
    font-family: "Inter", sans-serif;
    background: linear-gradient(180deg, #D90000 10.34%, #DB4646 37.93%, #B90000 81.03%);
    border-radius: 7px !important;
    padding: 17px !important;
    margin-top: 35px;
    width: 146px;
    text-align: right;
    margin-left: 0 !important;
} */

.btn input[type="submit"] { 
    font-weight: 600;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    line-height: 19px;
    font-family: "Inter", sans-serif;
    background: linear-gradient(180deg, #D90000 10.34%, #DB4646 37.93%, #B90000 81.03%);
    border-radius: 7px !important;
    padding: 17px !important;
    margin-top: 35px;
    width: 146px !important;
    text-align: right;
    margin-left: 0 !important;
}
.btn {
    position: relative;
}
.btn img {
    width: 15px;
    position: absolute;
    left: 25px;
    height: 15px;
    top: 56px;
}
img.mirrorimage {
    width: 175px;
    margin-left: -14px;
    margin-top: -10px;
}
.footer-section {
    margin-top: 61px;
    padding: 0 20px;
}
p.copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    font-family: "Inter", sans-serif;
    background: rgba(204, 204, 204, 1);
    padding: 10px;
}
.main-section {
    display: flex;
    justify-content: space-between;
}
img.privacy {
    width: auto;
    height: auto;
}
.order-summary-section {
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 10px;
    width: 322px;
    margin-bottom: 20px;
}
.order {
    background: rgba(51, 153, 255, 1);
    border-radius: 10px 10px 0 0;
    display: flex;
    padding: 0 10px;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}
p.order-heading {
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    color: #fff;
    font-family: "Inter", sans-serif;
}
p.secure-payment {
    border: 1px solid rgba(255, 194, 32, 1);
    background: rgba(232, 232, 232, 1);
    padding: 3px 10px 3px 7px;
    font-size: 8px;
    font-weight: 400;
    line-height: 9px;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
img.cartimg {
    width: 23px;
    height: auto;
    margin-top: -3px;
}
.course {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border-top: 1px solid rgba(204, 204, 204, 1);
}
p.course-name {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    font-family: "Inter", sans-serif;
}
p.course-price {
   font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: rgba(51, 51, 51, 1);
    font-family: "Inter", sans-serif;
    display: flex;
    gap: 10px;
    align-items: center;
}
p.course-price.free {
    color: rgba(255, 0, 0, 1);
}
p.shipping {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(51, 51, 51, 1);
    padding: 5px 15px;
    background: rgba(255, 255, 204, 1);
    margin: 0 10px;
    font-family: "Inter", sans-serif;
}
img.totalcartimg {
    width: 25px;
    height: auto;
}
.header-section {
    padding: 0 20px;
}
/*.main-page-section {*/
/*    padding: 0 20px;*/
/*} */
form.registration-form span.text-danger {
    color: red;
    display: block;
    /* margin-bottom: 15px; */
    margin-left: 100px;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    line-height: 20px;
}
.form-input.email span.text-danger {
    margin-left: 62px;
}
.form-input.date.licensenumber span.text-danger {
    margin-left: 193px; 
}
.form-input.date.licensenumber.user span.text-danger {
    margin-left: 102px;
}
.form-input.date.licensenumber.user.password span.text-danger {
    margin-left: 90px;
}
.form-input.date.licensenumber.user.password.confirm span.text-danger {
    margin-left: 150px;
} 
/*testimonial*/
.testimonil-section { 
    display: flex;
}
p.tetimonial-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(20, 99, 156, 1);
    font-family: "Inter", sans-serif;
    border-left: 4px solid rgba(238, 238, 238, 1);
    padding: 10px 110px 10px 10px;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.sign-up a {
    font-size: 22px;
    font-weight: 800;
    line-height: 26px;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    background: linear-gradient(180deg, #4AADE5 0%, #137EBA 100%);
    color: rgba(255, 255, 255, 1);
    width: 156px;
    height: 50px;
    border-radius: 16px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    position: relative;
    border: 4px solid rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
    outline: none;
}
.sign-up a:before {
    position: absolute;
    content: '';
    width: 7px;
    height: 100%;
    background: #fff;
    left: 48px;
}
img.arrow {
    width: 16px;
    height: auto;
}
.sign-up {
    margin-right: 50px;
}
/*how it works*/
.how-it-works-section {
    display: flex;
    justify-content: space-between;
}
.steps {
    display: flex;
    gap: 40px;
    align-items: center;
}
p.stepdescription {
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: rgba(51, 51, 51, 1);
    font-family: "Inter", sans-serif;
    width: 300px;
}
p.step {
    display: grid;
    text-align: center;
    border: 1px dashed rgba(0, 106, 170, 1);
    padding: 14px 18px;
    border-radius: 50%; 
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: rgba(23, 88, 142, 1);
    font-family: "Inter", sans-serif;
}
p.step span {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
     font-family: "Inter", sans-serif;
}
/*faq*/
.faq-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 40px;
}
.faq-item {
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 10px;
    z-index: 9999;
    margin-bottom: 20px;
   width: 700px;    
}
.faq-question {
    cursor: pointer;
    background-color: rgba(245, 245, 245, 1);
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
    border-radius: 10px;
    font-size: 14px;
    color: rgba(23, 88, 142, 1);
    line-height: 21px;
    font-family: "Inter", sans-serif;
}
.faq-answer p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(51, 51, 51, 1);
    font-family: "Inter", sans-serif;
    padding: 5px 20px;
}
.faq-answer {
    display: none;
    padding: 10px;
}
.faq-item.active .faq-answer {
    display: block;
    padding: 0;
}
h2.faq-question img {
    width: 10px;
    height: 13px;
    object-fit: contain;
}
h2.faq-question {
    display: flex;
    gap: 20px;
    align-items: center;
}
/*about us*/
.about-us-section {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
h3.about-title {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(23, 88, 142, 1);
    margin: 0;
    font-family: "Inter", sans-serif;
}
p.about-description {
    font-size: 14px;
    color: rgba(51, 51, 51, 1);
    line-height: 19px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    width: 730px;
}
p.about-description a {
    color: rgba(23, 88, 142, 1);
    font-weight: 600;
    text-decoration: none;
}
a.emails {
    text-decoration: underline !important;
}
/*contact us*/
.contact.-us-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
p.email {
    font-size: 14px;
    color: rgba(51, 51, 51, 1);
    font-weight: 600;
    line-height: 19px;
    font-family: "Inter", sans-serif;
}
p.email a {
    color: rgba(23, 88, 142, 1);
    font-weight: 500;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}
p.con-des {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(51, 51, 51, 1);
    font-family: "Inter", sans-serif;
    width: 500px;
}
/*privacy*/
p.privacy-policy {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(51, 51, 51, 1);
    font-family: "Inter", sans-serif; 
    width: 730px;
}
ul.listing {
    padding-left: 14px;
} 
ul.listing li {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    font-family: "Inter", sans-serif;
    width: 621px;
    padding: 5px 0;
}
/*refund*/
p.refund-policy {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color: rgba(23, 88, 142, 1);
    margin: 0;
    font-family: "Inter", sans-serif;
}
/*terms*/
p.about-description.terms.left {
    padding-left: 20px;
}
/*login*/
.student-login {
    width: 320px;
    border: 1px solid rgba(85, 85, 85, 1); 
    margin-top: 30px;
}
p.login-title {
    text-align: center;
    background: linear-gradient(180deg, #69C1F6 0%, #5B91E7 100%);
    padding: 10px;  
    color: rgba(255, 255, 255, 1);  
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin: 0;
    font-family: "Inter", sans-serif;
}
p.login-text {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(85, 85, 85, 1);
    margin: 10px 0 0 0;
}
.login-input {
    text-align: center;  
    padding: 10px 0px;
}
input#loginuser {
    padding: 12px 4px;
    margin-left: -4px;  
    border: 1px solid rgba(148, 148, 148, 1);
}
input#Password {
    padding: 12px 4px;
    margin-left: -4px;
    border: 1px solid rgba(148, 148, 148, 1);
}
input#password_confirmation {
    padding: 12px 4px;
       /*margin-left: -4px;*/
       /*border: 1px solid rgba(148, 148, 148, 1);*/
   }
.login-input label {
    background: rgba(238, 238, 238, 1);
    padding: 12px 10px; 
    border: 1px solid rgba(148, 148, 148, 1); 
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    color: rgba(85, 85, 85, 1);
}
.login-input.ps label {
    padding: 12px 10px 12px 57px;
    text-align: right;
}
form.registration-form input {
    outline: none;
}
form.registration-form select { 
    outline: none;
} 
form.login-form input {
    outline: none;
}
.student-login img {
    width: 320px;
    height: auto; 
    margin-bottom: -4px; 
    margin-top: 10px;    
}
.main-div-user {
    display: flex;
    justify-content: space-between; 
    margin: 0 15px;
    align-items: center;
}
a.lost-password {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: rgba(23, 88, 142, 1);
    display: block;
    text-align: center;
}
a.forget-user-name {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: rgba(23, 88, 142, 1);
    display: block;
    text-align: center;
}
/* .submit-btn input[type="button"] {
    background: rgba(27, 188, 155, 1);
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: "Inter", sans-serif;
    width: 150px;
    padding: 10px 10px 26px 10px;
} */
p.subtitle {
    margin: 0;
    font-size: 10px;
    font-weight: 800;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-family: "Inter", sans-serif;
}
.submit-btn {
    position: relative;
}
.submit-btn button {
    background: rgba(27, 188, 155, 1);
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: "Inter", sans-serif;
    width: 150px;
    padding: 10px 10px 26px 10px;
}
p.subtitle {
    position: absolute;
    top: 30px; 
    left: 0;
    right: 0;
}
/*student Dashboard*/
.student-dashboard-section {
    display: flex; 
    justify-content: space-between; 
    gap: 20px; 
}
.dashboard-tabs a {
    display: block;
    padding: 10px;
    margin: 0 0 20px 0px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    font-family: "Inter", sans-serif;  
    text-decoration: none;
    color: rgb(93 153 234);
    border-radius: 10px;
    text-align: center;
    border: 2px solid rgb(95 159 235);
   outline: none !important;
}
.dashboard-tabs.payment a { 
    width: 100px; 
}
a.get-certificate {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: rgba(23, 88, 142, 1);
    margin: 0;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    outline: none; 
}    
/*close*/
/*student registartion information*/
.student-regis-info {
    display: flex;
    align-items: center;
    gap:20px;
}
.student-information {
    padding-top: 30px;
}
.student-regis-info span {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(51, 51, 51, 1);
    font-family: "Inter", sans-serif;
}
.student-regis-info h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 19px; 
    color: rgba(51, 51, 51, 1);
    font-family: "Inter", sans-serif;
    width: 190px;
    text-transform: capitalize;
}
.table-content h3.about-title {
    font-size: 20px;
}
a.edit {
    text-decoration: none;
}
/*close*/ 


/*payment-gateway*/

.paypal-payment {
    background: #f5f5f5;
    border-radius: 4px;
    padding: 20px 20px 30px 20px;
    margin-bottom: 30px;
}
.paypal-payment h4 {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(23, 88, 142, 1);
    margin: 0;
}
.paypal-payment p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
}
.payment-input {
    display: flex;
}
.paypal-payment-btn input[type="submit"] {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    background: linear-gradient(180deg, #4AADE5 0%, #137EBA 100%);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    text-align: center;
    padding: 12px;
    border: none;
    outline: none;
    cursor: pointer;
}
/*a.paypalpayment {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    background: linear-gradient(180deg, #4AADE5 0%, #137EBA 100%);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    text-align: center;
    padding: 12px;
}*/


.paypal-payment-btn button {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    background: linear-gradient(180deg, #4AADE5 0%, #137EBA 100%);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    text-align: center;
    padding: 12px;
    border: none;
    outline: none;
    cursor: pointer;
}






.payment-input label {
   font-size: 14px;
   font-family: "Inter", sans-serif;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    padding: 11px; 
}
.payment-input input[type="text"] {
    padding: 12px 4px; 
    margin-left: -4px;
    border: 1px solid #ccc;
    outline: none;
    width: 300px;
}  
.paypal-payment .payment-input input[type="submit"] {
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    font-family: "Inter", sans-serif;
    text-decoration: none; 
    background: linear-gradient(180deg, #4AADE5 0%, #137EBA 100%); 
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 7px;
    border: none;
    margin-left: -4px;
}
.payments {
    width: 700px;
}
/*close*/

 
/*Mobile Responsive*/
@media (max-width:900px) and (min-width: 768px){
.order-summary-section {
    width: 306px;
}
p.order-heading {
    font-size: 13px;
}
}
@media (max-width: 1150px){
    p.horizontal-text {
    margin-top: 50px;
}
}
@media (max-width: 1130px) and (min-width: 993px){
    .main-banner-section {
    gap: 20px;
}
 .banner-images-section {
    position: inherit;
    left: 0;
    display: block;
    margin-top: 30px;
}
.banner-images-section img {
    width: auto;
}
p.horizontal-text {
    margin-top: 50px;
}
}
@media (max-width: 1080px){
    .navigation li {
    font-size: 12px;
}
.main-content {
    width: 48%;
}
.banner-images-section {
    position: inherit;
    left: 0;
    display: block;
    margin-top: 30px;
        top: 0;

}

.banner-images-section img {
    width: auto;
}

p.horizontal-text {
    margin-top: 30px;
}
}

@media (max-width:992px){
    .banner-images-section {
    position: inherit;
    left: 0;
    display: block;
    margin-top: 30px;
        top: 0;

}

.banner-images-section img {
    width: auto;
}

p.horizontal-text {
    margin-top: 30px;
}
    .main-content {
    width: 48%;
}
    .main-banner-section {
    gap: 20px;
}
    .main-page-section {
    padding: 0 20px;
}
    .main-page-section.home {
    margin-top: 0px;
}
.navigation li {
    padding: 15px 25px;
}
.main-header-section {    
    display: flex; 
    align-items: center;
    justify-content: space-between;    
} 
.navbar-menu {
    display: none; 
}
.navbar {
    display: flex;
}
.navbar-toggle {
    display: flex;
    margin-top: 30px;
}
.navbar-menu.active {
    display: flex;
    flex-direction: column !important;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, #69C1F6 0%, #5B91E7 100%);
    z-index: 99999;
    padding-bottom: 15px;
}
.navbar-toggle.active .fas.fa-times {
    display: block; /* Display cross icon when menu is active */
}
div#navbar-toggle {
    background: #3399ff;
    border: 1px solid #3399ff;
    padding: 7px;
}
.navigation {
    background: none;
    margin-top: -21px;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.border-line:before {
    width: 90%;
}
.rating {
    display: none;
}
.number {
    display: none;
}
.top-right-image {
    display: none;
}
.faq-item { 
    width: 100%;
}
.sign-up {
    margin-right: 0px;
    margin-top: 30px;
}
p.privacy-policy {
   width: 100%;
}
ul.listing li {
    width: 100%; 
}
p.about-description {
    width: 100%;
}
.payments {
    width: 100%;
}
}    
@media (max-width:767px){
    .banner-images-section {
    display: block;
    margin-top: 66px;
}

.banner-images-section img {
    width: auto;
}
    img.videoimg {
    width: 100%;
}
    p.horizontal-text {
    margin-top: 50px;
}
 
 .banner-images-section {
    position: inherit;
    left: 0;
    top: 0;
}
.main-banner-section {
    display: block;
}

.get-started {
    display: block;
   /* padding: 0 20px;*/
    /* margin: 10px; */
}
.allcontent.right {
    width: auto;
}
.started-content {
    margin-top: 20px;
    width: auto;
}
    .customer-testimonial {
    display: block;
   /* padding: 0 20px;*/
}
.main-content {
    width: 100%;
}
.botom-content {
    display: block;
   /* padding: 0 20px;*/
}
    .banner-img img {
    margin-top: 0px;
}
    .main-page-section.home {
    padding: 20px !important;
}
.price-corse {
    display: block;
}
.Course {
    width: auto;
    margin: 20px; 
}
.main-banner {
    display: block;
}
.home-bottom {
    display: block;
}
.bottom {
    margin-bottom: 30px;
    width: auto;
    margin: 20px;
}
.payments {
    width: 100%;
 }
.dashboard-tabs a {
    width: 165px;
}
.dashboard-tabs {
    margin-top: 40px;
}
.student-dashboard-section {
    display: block;
}
.navbar-menu.active {
    top: 48px;
}
.logo img {
    width: 150px;
    height: auto;
}
.about-us-section {
    display: block;    
}
.contact.-us-section {
    display: block;
}
p.privacy-policy {
    width: 100%;
}
ul.listing li {
    width: 100%;
}
p.con-des {
    width: 100%;
}
.faq-section {
    display: block;
}
.faq-item {
    width: 100%;
}
.how-it-works-section {
    display: block;
}
.steps {
    gap: 20px;
}
.testimonil-section {
    display: block;
}
p.tetimonial-content {
    padding-right: 0;
}
.main-section {
    display: block;
}
form.registration-form input {
     width: 150px; 
}
form.registration-form input#Phone {
    width: 30px;   
}
form.registration-form input#Phones {
    width: 40px; 
}
select#date {
    width: 44px;
}
select#month {
    width: 42px;
}
.order-summary-section {
    width: 330px;
}
select#find {
    width: 200px;
    margin-top: 10px; 
}
.payment-input input[type="text"] {
    width: 195px;
} 
}
@media (max-width: 550px){
.price-corse {
    display: block;
}
.Course {
    margin-bottom: 30px;
    width: auto;
}
}
@media (max-width:450px){    
.payment-input input[type="text"] {
    width: 100px;
    }
.student-regis-info {
    display: block;
}
.form-input.date.licensenumber.user.password {
     margin-left: 0px;
}
.form-input.find-us p {
    margin-left: 0px;
}
.form-input.find-us label {
    margin-left: 0;
    text-align: left;
}
 select#find {
    margin-left: 0px;
    margin-top: 50px;
}
.form-input.find-us {
    margin-left: 0px;
}
select#statse {
    margin-left: 0px;
}
select#license {
    margin-left: 0px;
}
form.registration-form input#mname {
    margin-left: 0px; 
}
form.registration-form input {
    margin-left: 0px; 
}
.form-input.date.licensenumber.user.password p {
    margin-left: 0px;
}
h1.title {
    font-size: 20px;
    padding: 20px 0;
}
form.registration-form {
    margin-left: 0px;
    width: 95%;
}
form.registration-form input {
    width: 100%;
    margin-top: 10px;
}
form.registration-form input#mname {
     width: 100%;
    margin-top: 10px;
}
.form-input.email {
    padding-left: 0px;
}
select#license {
    width: 100%;
    margin-top: 10px;
}
input#licensenumber {
    width: 100%;
    margin-top: 10px;
}
.form-input.date.licensenumber {
    margin-left: 0;
}
.form-input.license-state {
    margin-left: 0;
}
.form-input.date.licensenumber p {
    margin-left: 0px;
}
.form-input.date.licensenumber.user p {
    margin-left: 0px;
}
.form-input.date.licensenumber.user p {
    margin-left: 0px;
}
.form-input.date.licensenumber.user.password.confirm {
    margin-left: 0;
}
.form-input.city {
    margin-left: 0px;
}
select#statse {
    width: 100%;
    margin-top: 10px;
}
.form-input.states {
    margin-left: 0px;
}
.form-input.address {
    margin-left: 0px; 
}
.form-input.zipcode {    
    margin-left: 0;
} 
.form-input.zipcode input {   
    width: 100%;
    margin-top: 10px; 
}
select#find {  
   width: 100%; 
}
form.registration-form input#Phone {
    width: 30px;
}
form.registration-form input#Phones {
    width: 25px;
}
select#years {
    width: 79px;
}
.form-input.numbers {
    margin-left: 0;
}
.form-input.date { 
    margin-left: 0;
}   
span.text-danger { 
    margin-left: 0px !important; 
} 
.form-input.email span.text-danger {                                            
    margin-left: 0px;                                                           
}
.form-input.date.licensenumber span.text-danger {   
    margin-left: 0px; 
}
.form-input.date.licensenumber.user span.text-danger { 
    margin-left: 0px;
}
.form-input.date.licensenumber.user.password span.text-danger {
    margin-left: 0px;
} 
.form-input.date.licensenumber.user.password.confirm span.text-danger {
    margin-left: 0px;   
}
}    
@media (max-width: 359px){ 
.student-login {
    width: 100%; 
}
.student-login img {
   width: 100%;  
}
.order-summary-section {
   width: 100%;  
}
}
form.login-form .text-danger {
    color: red;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}



.text-danger {
    color: red;
    text-align: left;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid green;
    border-radius: 0.25rem;
    font-size:20px;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid red;
    border-radius: 0.25rem;
    font-size:20px;
}
.alert-danger hr {
    border-top-color: #f1b0b7;
}
.alert-danger .alert-link {
    color: #491217;
}
.alert-danger .alert-link:hover {
    color: #491217;
}